<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zf.mart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--相机限权.需要动态申请-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--闪光灯限权-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--振动器-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--休眠唤醒.保证不自动锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--存储访问本机文件.需要动态申请-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.activity.LoginActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.MainActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.ActionActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.MyOrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.MyOrderSearchActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.FocusActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.InfoActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.WalletActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.DiscountActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.FootActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SearchActivity"
                  android:launchMode="singleTask"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SearchOrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.GoodsDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>




        <!--<activity android:name=".ui.activity.LoginActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:theme="@style/AppTheme.NoActionBar"/>-->


        <activity android:name=".ui.activity.RegisterActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.ResetPwdActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SecKillDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SecKillPushActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SecKillPayActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.GroupDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.AuctionDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SearchMyOrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.IntegralActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.PickupActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SigninGiftActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.BenefitActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.TeamActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.EvaluationActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.BonusActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".ui.activity.MessageActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.InputPwdActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.ChoiceActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.AddressActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.AddressEditActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.ConfirmOrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.SameGoodsActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".ui.activity.ScanActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".ui.activity.UserActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activity.ChangeNameActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>